In [1]:
# Dependencies
import pandas as pd
import math

## Data Retrieval

In [2]:
# Read HPD Crime Report data and save as "crime_info_pd"
crime_info_pd =pd.read_csv("../data/cleandata/HPD_Crime_Report.csv")

# Preview "crime_info_pd"
crime_info_pd.head()

    Offense  Crime Type        Lat        Lng
0     Theft  Non-Violet  29.828978 -95.380827
1   Robbery      Violet  29.703565 -95.350084
2  Burglary  Non-Violet  29.767965 -95.318870
3  Burglary  Non-Violet  29.560540 -95.125612
4   Robbery      Violet  29.921638 -95.410273

In [3]:
# Read Houston Harris County zipcodes data and save as "harris_cty_zipcode_pd"
harris_cty_zipcode_pd = pd.read_csv("../data/cleandata/Harris_County_zipcode_lat_lngs.csv")

# Preview "harris_cty_zipcode_pd"
harris_cty_zipcode_pd.head()

     ZIP        LAT        LNG
0  77002  29.756845 -95.365652
1  77004  29.724893 -95.363752
2  77003  29.749778 -95.345885
3  77006  29.740970 -95.391301
4  77005  29.718435 -95.423555

## Crime Counts Calculator

In [4]:
# Copy "harris_cty_zipcode_pd" and save as "crime_ct_by_zipcode"
crime_ct_by_zipcode = harris_cty_zipcode_pd

# Preview "crime_ct_by_zipcode"
crime_ct_by_zipcode.head()

     ZIP        LAT        LNG
0  77002  29.756845 -95.365652
1  77004  29.724893 -95.363752
2  77003  29.749778 -95.345885
3  77006  29.740970 -95.391301
4  77005  29.718435 -95.423555

In [5]:
# Set a radius for the search of nearby crimes
searching_radius = input("Please provide a searching radius (in miles): ")

Please provide a searching radius (in miles): 1

In [6]:
# use "violet_crime_sum_radius" to store the total number of violet crime within given miles
violet_crime_ct = []
# use "non_violet_crime_sum_radius" to store the total number of non-violet crime within given miles
non_violet_crime_ct = []

In [7]:
# Use "radius_0" to store the radius of the earth (3958.8 mi)
radius_0 = 3958.8

In [8]:
# Calculate the mile coverage on longitude line per degree of latitude change on earth (2 * math.pi * radius_0 / 360)
lat_multiplier = 69.1

In [9]:
# Loop through "crime_info_pd"
for i in range(len(harris_cty_zipcode_pd)):
    
    # Calculate the radius of the latitude line on earth (crime #i) and assign the value in "radius_lat"
    # Note that math.cos() takes radians rather than degree
    radius_lat = radius_0 * math.cos(harris_cty_zipcode_pd.LAT[i] * math.pi / 180)
    
    # Calculate the miles coverage on latitude line (crime #i) per degree of longitude change on earth
    lng_multiplier = 2 * math.pi * radius_lat / 360
    
    # Set counters for violet and non-violet crimes during each iteration
    violet_counter = 0
    non_violet_counter = 0
    
    # Loop through "crime_info_pd" for crimes within given searching radius
    for j in range(len(crime_info_pd)):
        
        # Calculate loc #i' and #j's distance along the lantitude and longitude lines of loc #i 
        dist_lat = abs(crime_info_pd.Lat[j] - harris_cty_zipcode_pd.LAT[i]) * lat_multiplier
        dist_lng = abs(crime_info_pd.Lng[j] - harris_cty_zipcode_pd.LNG[i]) * lng_multiplier
        
        # Check if crime #j is within the searching radius from loc #i, and if true ...
        if (dist_lat ** 2 + dist_lng ** 2) <= float(searching_radius) ** 2:
            
            # Add 1 to violet crime counter if crime #j is a violet type of crime
            if crime_info_pd["Crime Type"][j] == "Violet":              
                violet_counter += 1                
            # Add 1 to non-violet crime counter if crime #j is a non-violet type of crime
            if crime_info_pd["Crime Type"][j] == "Non-Violet":
                non_violet_counter += 1  
        
    # Append violet crime counts to "violet_crime_ct" 
    violet_crime_ct.append(violet_counter)
    # Append non-violet crime counts to "non_violet_crime_ct"     
    non_violet_crime_ct.append(non_violet_counter)

# Add new column of "Violet Crime Ct" to "crime_ct_by_zipcode"
crime_ct_by_zipcode["Violet Crime Ct"] = violet_crime_ct
# Add new column of "Sum Non-Violet Crime within Given Radius" to "crime_ct_by_zipcode"
crime_ct_by_zipcode["Non-Violet Crime Ct"] = non_violet_crime_ct

# Preview "crime_ct_by_zipcode"
crime_ct_by_zipcode.head(10)

     ZIP        LAT        LNG  Violet Crime Ct  Non-Violet Crime Ct
0  77002  29.756845 -95.365652               45                  210
1  77004  29.724893 -95.363752               32                   65
2  77003  29.749778 -95.345885               12                   75
3  77006  29.740970 -95.391301               19                  183
4  77005  29.718435 -95.423555                3                   58
5  77008  29.798249 -95.416933                5                   68
6  77007  29.771545 -95.411083                5                  102
7  77010  29.753624 -95.359810               41                  179
8  77009  29.795344 -95.367590               19                   44
9  77012  29.718525 -95.274137                3                   14

In [10]:
# Write "crime_ct_by_zipcode" to csv file
crime_ct_by_zipcode.to_csv("../data/cleandata/Harris_County_Crime_Ct_by_zipcode.csv", index=False, header=True)