In [160]:
import gmaps
from api_keys import gkey
import gmaps.geojson_geometries
import requests
import json
from matplotlib.cm import Wistia
from matplotlib.colors import to_hex
import pandas as pd

gmaps.configure(api_key=gkey)

In [2]:
zip_geojson = requests.get('https://raw.githubusercontent.com/OpenDataDE/State-zip-code-GeoJSON/master/tx_texas_zip_codes_geo.min.json').content
zip_geojson = json.loads(zip_geojson)

In [3]:
restaraunt_df = pd.read_csv('../data/rawdata/restaurant_count_2.csv')
restaraunt_df.sort_values(by = '# R')

         lat        lng  # Restaurants  zipcode
0  29.756845 -95.365652             60  77002.0
1  29.724893 -95.363752             10  77004.0
2  29.749778 -95.345885             41  77003.0
3  29.740970 -95.391301             60  77006.0
4  29.718435 -95.423555             60  77005.0

In [66]:
crime_df = pd.read_csv('../data/cleandata/Harris_County_Crime_Ct_by_zipcode.csv')
crime_df.head()

     ZIP        LAT        LNG  Violet Crime Ct  Non-Violet Crime Ct
0  77002  29.756845 -95.365652               45                  210
1  77004  29.724893 -95.363752               32                   65
2  77003  29.749778 -95.345885               12                   75
3  77006  29.740970 -95.391301               19                  183
4  77005  29.718435 -95.423555                3                   58

In [67]:
index = len(crime_df)-1
while index > 0:
    if crime_df.iloc[index, 0] not in restaraunt_df['zipcode'].tolist():
        crime_df = crime_df.drop(index)
    index -= 1
len(crime_df)

134

In [7]:
zip_coord_df = pd.read_csv('../data/rawdata/zipcode_lat_lngs.csv')
zip_coord_df = zip_coord_df.rename(index = str, columns = {'LAT':'lat', 'LNG': 'lng', 'ZIP':'zip'})

In [8]:
harris_zips = []

with open('../data/cleandata/County_Zips.json') as json_file:
    data = json.load(json_file)
    harris_zips = data['Harris']

In [9]:
len(harris_zips)

146

In [10]:
for i in harris_zips:
    i = str(i)

In [11]:
list_index = []

for i in range(len(zip_geojson['features'])):
    if zip_geojson['features'][i]['properties']['ZCTA5CE10'] not in str(harris_zips):
        list_index.append(i)
        
for index in sorted(list_index, reverse=True): 
    del zip_geojson['features'][index]
len(zip_geojson['features'])

135

In [75]:
zip_list = []
for i in range(len(zip_geojson['features'])):
    zip_list.append(zip_geojson['features'][i]['properties']['ZCTA5CE10'])
zip_list

['77099',
 '77389',
 '77586',
 '77020',
 '77013',
 '77003',
 '77009',
 '77086',
 '77346',
 '77060',
 '77018',
 '77040',
 '77094',
 '77048',
 '77047',
 '77046',
 '77521',
 '77450',
 '77388',
 '77065',
 '77571',
 '77017',
 '77507',
 '77028',
 '77008',
 '77530',
 '77080',
 '77041',
 '77396',
 '77059',
 '77050',
 '77072',
 '77067',
 '77066',
 '77090',
 '77034',
 '77502',
 '77504',
 '77029',
 '77023',
 '77024',
 '77033',
 '77073',
 '77075',
 '77587',
 '77598',
 '77089',
 '77063',
 '77345',
 '77373',
 '77562',
 '77336',
 '77026',
 '77007',
 '77076',
 '77030',
 '77057',
 '77339',
 '77043',
 '77045',
 '77074',
 '77096',
 '77070',
 '77375',
 '77095',
 '77433',
 '77503',
 '77069',
 '77536',
 '77038',
 '77520',
 '77049',
 '77087',
 '77039',
 '77091',
 '77098',
 '77037',
 '77062',
 '77079',
 '77071',
 '77532',
 '77357',
 '77011',
 '77012',
 '77002',
 '77016',
 '77022',
 '77006',
 '77547',
 '77092',
 '77032',
 '77036',
 '77021',
 '77061',
 '77010',
 '77042',
 '77031',
 '77083',
 '77546',
 '77484',
 '77429',
 '77377',
 '77379',
 '77064',
 '77058',
 '77004',
 '77019',
 '77093',
 '77027',
 '77088',
 '77056',
 '77081',
 '77051',
 '77338',
 '77077',
 '77082',
 '77449',
 '77025',
 '77493',
 '77053',
 '77085',
 '77068',
 '77447',
 '77014',
 '77506',
 '77505',
 '77015',
 '77084',
 '77078',
 '77054',
 '77401',
 '77005',
 '77055',
 '77044',
 '77035']

In [179]:

restaraunt_df.loc[restaraunt_df['zipcode'] == float(temp_df.iloc[44, 0])]#.iloc[0, 2]

           lat        lng  # Restaurants  zipcode
133  29.661032 -95.229784             12  77587.0

In [169]:
temp_df = pd.DataFrame(data={'zip':'', 'num_rest':''}, index = [i for i in range(len(zip_list))])
for i in range(len(zip_list)):
    temp_df.iat[i, 0] = zip_list[i]
    
for i in range(len(temp_df)):
    try:
        temp_df.iat[i, 1] = restaraunt_df.loc[restaraunt_df['zipcode'] == float(temp_df.iloc[i, 0])].iloc[0, 2]
    except IndexError:
        print('index')
#     a = restaraunt_df.loc[restaraunt_df['zipcode'']]

temp_df.iat[45, 1] = 53
for i in temp_df['num_rest']:
    i = int(i)

index

In [180]:
temp_df.sort_values(by = 'num_rest', ascending = False)

       zip num_rest
31   77072       60
75   77098       60
53   77007       60
111  77081       60
131  77005       60
94   77010       60
15   77046       60
56   77057       60
84   77002       60
87   77006       60
110  77056       58
78   77079       54
45   77598       53
95   77042       47
108  77027       45
47   77063       42
86   77022       42
5    77003       41
8    77346       40
97   77083       39
7    77086       38
55   77030       34
6    77009       32
90   77032       32
19   77065       30
132  77055       30
24   77008       29
92   77021       27
82   77011       27
76   77037       26
..     ...      ...
121  77068        1
4    77013        1
67   77069        1
120  77085        0
116  77449        0
118  77493        0
122  77447        0
123  77014        0
133  77044        0
2    77586        0
12   77094        0
1    77389        0
20   77571        0
22   77507        0
65   77433        0
71   77049        0
74   77091        0
58   77043        0
80   77532        0
81   77357        0
48   77345        0
40   77024        0
38   77029        0
34   77090        0
30   77050        0
99   77484        0
100  77429        0
103  77064        0
104  77058        0
101  77377        0

[135 rows x 2 columns]

In [170]:
# We will need to scale the GINI values to lie between 0 and 1
min_gini = min(harris_zips)
max_gini = max(harris_zips)
gini_range = max_gini - min_gini

# def calculate_color(gini):
#     """
#     Convert the GINI coefficient to a color
#     """
#     # make gini a number between 0 and 1
#     normalized_gini = (gini - min_gini) / gini_range

#     # invert gini so that high inequality gives dark color
#     inverse_gini = 1.0 - normalized_gini

#     # transform the gini coefficient to a matplotlib color
#     mpl_color = viridis(inverse_gini)

#     # transform from a matplotlib color to a valid CSS color
#     gmaps_color = to_hex(mpl_color, keep_alpha=False)

#     return gmaps_color

def calculate_colors(input_list):
    #takes list as input
    _min = min(input_list)
    _max = max(input_list)
    _range = _max - _min
    
    result = []
    
    for i in input_list:
        norm = (i - _min) / _range
        
        inverse = 1.0 - norm
        mpl_color = Wistia(norm)
        gmaps_color = to_hex(mpl_color, keep_alpha=False)
        if i == 0:
            result.append('#ffffff')
            continue
        result.append(gmaps_color)
        
    return result

In [173]:
colors = calculate_colors(temp_df['num_rest'])
crime_colors = calculate_colors(crime_df['Violet Crime Ct'])
crime_colors.append('#9400D3')

In [153]:
len(crime_colors)

135

In [174]:
fig = gmaps.figure(map_type = 'HYBRID')

gini_layer = gmaps.geojson_layer(
    zip_geojson,
    fill_color=colors,
    stroke_color=colors,
    fill_opacity=0.6,
    stroke_opacity=1,
    stroke_weight=1
    )
zip_layer = gmaps.geojson_layer(zip_geojson)
restaraunt_layer = gmaps.heatmap_layer(restaraunt_df[['lat', 'lng']], weights = restaraunt_df['# Restaurants'])
# fig.add_layer(restaraunt_layer)
fig.add_layer(zip_layer)
fig.add_layer(gini_layer)
fig

Figure(layout=FigureLayout(height='420px'))