In [10]:
import pandas as pd
import matplotlib.pyplot as plt

In [31]:
df = pd.read_csv('temp_output.csv')
df.groupby(['County']).count()

,zip,address,lat,lng,taxAssessment,lot sq/ft,finished sq/ft,price low,price high,zestimate
County,,,,,,,,,,
Austin,6345,6345,6345,6345,4226,3907,3362,3024,3024,3024
Brazoria,25115,25115,25115,25115,18593,18096,17700,17384,17384,17384
Chambers,4387,4387,4387,4387,3074,3049,2520,2408,2408,2408
Fort_Bend,30885,30885,30885,30885,25571,20363,19593,19241,19241,19241
Galveston,24436,24436,24436,24436,1964,1955,1920,1839,1839,1839
Harris,248592,248592,248592,248592,62230,58311,57579,56599,56599,56599
Liberty,7027,7027,7027,7027,0,0,0,0,0,0
Montgomery,40081,40081,40081,40081,0,0,0,0,0,0
Waller,3620,3620,3620,3620,0,0,0,0,0,0

In [38]:
temp = df.dropna(how='any')

In [40]:
temp.groupby(['County']).count()

,zip,address,lat,lng,taxAssessment,lot sq/ft,finished sq/ft,price low,price high,zestimate
County,,,,,,,,,,
Austin,3024,3024,3024,3024,3024,3024,3024,3024,3024,3024
Brazoria,17384,17384,17384,17384,17384,17384,17384,17384,17384,17384
Chambers,2408,2408,2408,2408,2408,2408,2408,2408,2408,2408
Fort_Bend,19241,19241,19241,19241,19241,19241,19241,19241,19241,19241
Galveston,1839,1839,1839,1839,1839,1839,1839,1839,1839,1839
Harris,56599,56599,56599,56599,56599,56599,56599,56599,56599,56599