In [1]:
import pandas as pd

In [3]:
test = pd.read_csv("../data/cleandata/Property_data.csv")

test.head()

,zip,address,lat,lng,house area,lot area,high,low,estimate,month value change,property tax
0,77004,"3327 FRANCIS ST, HOUSTON, TX 77004",29.728969,-95.354886,792.0,5001.0,100859,84504,90864,87.0,72000.0
1,77004,"1820 OAKDALE ST, HOUSTON, TX 77004",29.723462,-95.381033,2892.0,5500.0,635167,531231,577425,1263.0,383698.0
2,77004,"2220 MACGREGOR WAY, HOUSTON, TX 77004",29.715995,-95.380015,2813.0,8638.0,526769,425281,483274,7871.0,275131.0
3,77004,"2402 WENTWORTH ST, HOUSTON, TX 77004",29.724232,-95.373084,2748.0,6599.0,445146,316883,377242,-1526.0,182314.0
4,77004,"2424 ISABELLA ST, HOUSTON, TX 77004",29.729207,-95.368853,1470.0,5776.0,267123,241683,254403,1862.0,183358.0

TypeError: 'numpy.ndarray' object is not callable